@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*The z-index is for navbar*/

#zindexFixFirst div{
    z-index: 25;
}

#zindexFixFirst div:nth-child(2){
    z-index: 35;
}

#zindex div{
    z-index: 20;
}

